html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Avenir Next";
}

#map {
  /* The height is 400 pixels */
  height: calc(100% - 90px);
  /* The width is the width of the web page */
  width: 100%;
  display: block;
}

.box {
  color: #fff;
  padding: 10px;
  font-size: 20px;
}

@media (max-device-width: 450px) {
  #navbar {
    display: none;
  }

  #map {
    height: 100%;
  }
}

/* Style page content */
.main {
  /* Same as the width of the sidebar */
  margin-left: 160px;
  padding: 0px 10px;
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 1000;
}

@media (min-device-width: 450px) {
  #footer {
    display: none;
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */